.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 10px;
  max-height: 10px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.4rem;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(5, 5, 5);
  max-width: 50vw;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.image {
  max-height: 20vh;
  max-width: 10vw;
}

.rightimg {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
}

/* Two Columns */

.row {
  display: flex;
}

.column {
  flex: 50%;
}
